.chat-box-container {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 9999;
}

.chat-box-button {
    background-color: orangered;
    color: white;
    padding: 12px;
    cursor: pointer;
    display: none;
}

.chat-box-on {
    display: block !important;
}

.chat-box {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #bdcdc0;
    display: none;
    height: 502px;
    width: 632px;
    /* font-family: "Open Sans", sans-serif; */
    transform: translateX(0);
    transition: width 0.25s cubic-bezier(0.4, 0.8, 0.74, 1);
    box-shadow: 0 4px 20px 0 rgb(74 74 78 / 16%);
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
}

.chat-box .header-chat-box {
    align-items: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8%);
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 100%;
}

.chat-box .header-chat-box .header-left {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0 12px;
}

.chat-box .header-chat-box .header-right {
    padding-right: 8px;
}

.chat-box .header-chat-box .header-title {
    color: #ee4d2d;
    font-style: normal;
}

.chat-box .header-chat-box .header-number {
    align-items: center;
    color: #ee4d2d;
    display: flex;
    font-size: 12px;
    margin-left: 8px;
}

.chat-box .header-chat-box .header-btn {
    cursor: pointer;
}

.chat-box .body-chat-box {
    display: flex;
    height: 100%;
}

.chat-box .body-chat-box .body-right {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 220px;
}

.body-right .list-user{
    overflow-y: scroll;
    height: 420px;
}

.chat-box .body-chat-box .body-left {
    border-right: 1px solid #e4e6e8;
    flex: 1;
    height: 100%;
    opacity: 1;
    position: relative;
    transform: translateX(0);
    transition: width 0.25s cubic-bezier(0.4, 0.8, 0.74, 1), border 0.1s ease,
        opacity 0.1s ease 0.15s;
    width: 100%;
    z-index: 999;
}

.body-left .info-container {
    height: 32px;
    width: 100%;
}

.info-container .info-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    box-sizing: border-box;
    overflow: hidden;
    color: #333;
    font-size: 12px;
    font-weight: 550;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
    position: relative;
    width: 100%;
}

.chat-container .chat-view {
    border-top: 1px solid #e4e6e8;
    flex: 1;
    height: 100%;
    min-width: 6px;
    position: relative;
    overflow-y: scroll;
    padding-block: 10px;
}

.chat-view .chat-detail-container {
    box-sizing: border-box;
    padding: 0 7.5px;
}

.chat-detail-container .detail-date {
    font-size: 12px;
    margin-top: 12px;
    line-height: 1.167em;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.chat-detail-container .detail-content-container {
    margin-top: 8px;
}

.detail-content-container .their-message-container {
  justify-content: flex-start;
  display: flex;
}

.detail-content-container .my-message-container {
  justify-content: flex-end;
  display: flex;
}

.content-message {
  margin: 0;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  line-height: 21px;
  word-wrap: break-word;
  white-space: pre-wrap;
  border-radius: 2px;
  background-color: #f5f6f8;
  color: #333;
  max-width: 240px;
}

.chat-container .chat-input {
    /* min-height: 88px; */
    width: 100%;
    z-index: 11;
    border-top: 1px solid #e4e6e8;
    overflow-y: auto;
    padding: 8px;
}

.chat-box .search-box {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    padding: 8px 10px 8px 12px;
    width: 100%;
}

.user-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 12px;  
    cursor: pointer;
}

.user-container:hover{
    background: #f7f8fb;
}

.user-container:focus{
    background-color: #f7f8fb !important;
}

.user-container .user-avatar {
    height: 32px;
    min-width: 32px;
    width: 32px;
}

.user-container .user-name-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 10px;
    width: 156px;
}

.user-name-container .user-name {
    justify-content: space-between;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin-right: 4px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-name-container .new-message-container {
    margin-top: 3px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.new-message-container .message {
    color: #888;
    font-size: 12px;
    line-height: 14px;
    margin-right: 4px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-message-container .message-date {
    align-items: center;
    display: flex;
    color: #bbb;
    font-size: 12px;
    line-height: 14px;
    transform: scale(.91) translateX(2px);
    white-space: nowrap;
}   
