.main {
    background-color: #ee4d2d;

    &__form {
        width: 400px;
        height: 520px;

        &--wrapper {
            background-image: url(/img/bg-register-login.png);
            background-size: cover;
            height: 600px;
            width: 1040px;
        }

        &--title {
            font-size: 20px;
        }

        &--div {
            &-input {
                line-height: 40px;
            }

            &-danger {
                font-size: 12px;
                color: #ee4d2d;
            }
        }

        &--insert {
            background-color: #ee4d2d;
            opacity: 0.7;
            border: none;
            line-height: 40px;
            color: #fff;
        }

        &--or {
            &-line {
                height: 1px;
                background-color: #dbdbdb;
            }

            &-span {
                font-size: 12px;
                color: #ccc;
            }
        }
 
        & .firebaseui-idp-list {
            list-style: none;
            padding: 0  ;

            & .firebaseui-idp-phone {
                display: none;
            }

            & .firebaseui-idp-google {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0,0,0,.26);
                background-color: #fff;
                width: 100%;
                height: 40px;
    
                & img {
                    width: 80%;
                    height: 80%;
                    margin-right: 10px;
                }

                & .firebaseui-idp-text-long {
                    display: none;
                }
            }
        }

        &--terms-security {
            font-size: 12px;

            & a {
                color: #ee4d2d !important;
            }
        }

        &--nav {
            font-size: 14px;
            color: rgba(0,0,0,.26);

            & a {
                color: #ee4d2d;
            }
        }
    }
}