img {
    width: 100%;
}

.header {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    height: 120px !important;
    &__navbar {
        &--social {
            font-size: 13px;

            & a {
                color: #fff !important;
            }

            & .fa-facebook {
                font-size: 17px;
            }

            & .fa-instagram {
                font-size: 20px;
            }
        }

        &--login-register {
            font-size: 13px;

            & a {
                color: #fff !important;
            }
        }

        &--user {
            & img {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__search {
        &--logo {
            width: 200px;

            & img {
                width: 150px !important;
            }
        }

        &--search {
            width: calc(100% - 400px);
            font-size: 12px;


            & input {
                border: none;
                width: 100%;

                &:focus-visible {
                    outline: white;
                }
            }

            & i {
                background: linear-gradient(-180deg, #f53d2d, #f63);
            }
        }

        &--cart {
            width: 200px;
            font-size: 200%;
        }
    }
}

.main {
    margin-top: 120px;
}

.footer {
    background-color: #f5f5f5;

    &__nav {
        &--div {
            width: 20%;

            &-title {
                font-size: 12px;
                margin: 40px 0 20px;
            }

            &-title-2 {
                font-size: 12px;
                margin: 20px 0 20px;
            }

            & a {
                color: rgba(0, 0, 0, .65);
                font-size: 12px;
                margin-bottom: 8px;

                &:hover {
                    color: #ee4d2d !important;
                }
            }

            &-logo {
                box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
                box-sizing: border-box;
                padding: 4px;
                background-color: #fff;
                width: 60px;
                height: 30px;
                margin: 0 8px 8px 0;
            }

            &-scan {
                box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
                box-sizing: border-box;
                padding: 4px;
                background-color: #fff;
                width: 88px;
                height: 88px;
                margin: 0 12px 0 0;
            }

            &-app {
                box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
                box-sizing: border-box;
                padding: 4px;
                background-color: #fff;
                width: 76px;
                height: 24px;
                margin: 0 0 8px;
            }
        }
    }

    &__address {
        &--country {
            font-size: 13px;
            color: rgba(0, 0, 0, .54);

            & a {
                color: rgba(0, 0, 0, .54);
                margin-right: 2px;
            }
        }

        &--policy {
            font-size: 12px;
            color: rgba(0, 0, 0, .54);

            & a {
                color: rgba(0, 0, 0, .54);
                padding: 0 20px;
            }
        }

        &--img {
            & img {
                width: 120px;
                height: 45px;
            }
        }

        &--name {
            font-size: 12px;
            color: rgba(0, 0, 0, .54);
        }
    }
}