.main {
    background-color: #f5f5f5;
    border-bottom: 4px solid #ee4d2d;

    &__account {
        &--nav {
            width: 180px;

            &-user {
                &-img {
                    width: 48px;
                    height: 48px;
                    overflow: hidden;
                }

                &-name {
                    width: calc(100% - 63px);
                    font-size: 14px;
                    line-height: 1.2;

                    & i,
                    & span {
                        color: #888;
                    }
                }
            }

            &-items {
                &-img {
                    width: 20px;
                    height: 20px;
                }

                &-title {
                    width: calc(100% - 28px);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.2;

                    &:hover {
                        color: #ee4d2d;
                    }
                }

                & .active {
                    color: #ee4d2d;
                }

                & .account {
                    color: rgba(0,0,0,.45);

                    &:hover {
                        color: #ee4d2d;
                    }
                }
            }
        }

        &--main {
            width: calc(100% - 200px);

            &-title {
                & h5 {
                    font-size: 18px;
                }

                & button {
                    background: #ee4d2d;
                    font-size: 14px;
                    
                    &:hover {
                        background-color: #ee4d2d;
                    }
                }
            }

            &-content {
                flex-direction: column;
                height: 450px;
                font-size: 16px;

                & svg {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}